*.pyc
*.json
*.mp4
*.npy
*.png

# Test coverage
htmlcov/*
.coverage

# Virtual environment
venv
.venv
.env

# macOS files
*.DS_Store

# Distribution/packaging
*.egg-info/
.eggs/

# Builds
build/*
docs/build